<form action="/signup" method="post">
    <input type="email" name="user[email]" placeholder="email"><br>
    <input type="password" name="user[password]" placeholder="password"><br>
    <input type="password" name="user[password_confirmation]" placeholder="password confirmation"><br>
    <input type="submit" value="Create Account">
</form>