<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!--STYLESHEET --->
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
    <!--STYLESHEET --->
    <title>Movies App</title>
</head>
<%#--------- START NAVIGATION ------------%>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #170582;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src='images/logo.png' class="img-thumbnail" style="background-color: #170582;" alt="logo" width="80" height="80">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if logged_in? %>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Search</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/movies">All Movies</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/movies/new">Create New Movie</a>
                </li>
                <li class="nav-item">
                    <form action="/logout" method="post" >
                        <input type="hidden" name="_method" value="delete">
                        <input type="submit" value="Logout" class="nav-link active logout-link logout-link:focus">
                        
                   
                    </form>
                </li>
            <% else %>
                <li class="nav-item">
                <a class="nav-link active" href="/signup">Signup</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/login">Login</a>
                </li>
            <% end%>
        </ul>
        <%# START SEARCH BAR %>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <%# END SEARCH BAR %>
        </div>
    </div>
    </nav>
<%#--------- END NAVIGATION -------------%>


<%#--------- START BODY -------------%>
<body class="position-relative page" style="background-color: #f6f0e8; text-align: center;">
    <!---------------- STARTFLASH MESSAGING ------------>
    <div class="error-messaging">
        <%= flash[:error] %>
    
    </div>
    <!---------------- END FLASH MESSAGING ------------>
    <div class="container bg-light" class="page">
        <%= yield %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
<%#--------- END BODY -------------%>
</html>